.coin-container {
    display:flex;
    justify-content: start;
}

.coin-row{
 display: flex;
 flex-direction: row;
 justify-content: start;
 align-items: center;
 height: 120px;
 border-bottom: 1px solid #d7d7d7;
 width:  1300px;
 padding-right: 100px;
}

.coin{
    display: flex;
    align-items: center;
    
    width: 120px;
}
.coin h1{
    font-size: 16px;
    width: 80px;
}
.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.exchange-img{

    height: 30px;
    width: 30px;
    margin-right: 3px;
    
}

.coin-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.coin-price{
    width: 80px;
    
}

.minmaxwith_with_calKoupbitKRW{
    color: #00e5ff;
}
.pluswith_with_calKoupbitKRW{
    color: red;
}
.goldwith_with_calKoupbitKRW{
    color: yellow;
}

.minmaxwith_with_calKobithumbKRW{
    color: #00e5ff;
}
.pluswith_with_calKobithumbKRW{
    color: red;
}
.goldwith_with_calKobithumbKRW{
    color: yellow;
}

.minmaxwith_with_calKocoinoneKRW{
    color: #00e5ff;
}
.pluswith_with_calKocoinoneKRW{
    color: red;
}
.goldwith_with_calKocoinoneKRW{
    color: yellow;
}

.minmaxwith_with_calKoupbitBTC{
    color: #00e5ff;
}
.pluswith_with_calKoupbitBTC{
    color: red;
}
.goldwith_with_calKoupbitBTC{
    color: yellow;
}

.minmaxwith_with_calKobithumbBTC{
    color: #00e5ff;
}
.pluswith_with_calKobithumbBTC{
    color: red;
}
.goldwith_with_calKobithumbBTC{
    color: yellow;
}

.minmaxwith_with_calKobinanceBTC{
    color: #00e5ff;
}
.pluswith_with_calKobinanceBTC{
    color: red;
}
.goldwith_with_calKobinanceBTC{
    color: yellow;
}

.minmaxwith_with_calKogateioBTC{
    color: #00e5ff;
}
.pluswith_with_calKogateioBTC{
    color: red;
}
.goldwith_with_calKogateioBTC{
    color: yellow;
}

.minmaxwith_with_calKohuobiBTC{
    color: #00e5ff;
}
.pluswith_with_calKohuobiBTC{
    color: red;
}
.goldwith_with_calKohuobiBTC{
    color: yellow;
}

.minmaxwith_with_calKokucoinBTC{
    color: #00e5ff;
}
.pluswith_with_calKokucoinBTC{
    color: red;
}
.goldwith_with_calKokucoinBTC{
    color: yellow;
}

.minmaxwith_with_calKoupbitUSDT{
    color: #00e5ff;
}
.pluswith_with_calKoupbitUSDT{
    color: red;
}
.goldwith_with_calKoupbitUSDT{
    color: yellow;
}

.minmaxwith_with_calKobinanceUSDT{
    color: #00e5ff;
}
.pluswith_with_calKobinanceUSDT{
    color: red;
}
.goldwith_with_calKobinanceUSDT{
    color: yellow;
}

.minmaxwith_with_calKogateioUSDT{
    color: #00e5ff;
}
.pluswith_with_calKogateioUSDT{
    color: red;
}
.goldwith_with_calKogateioUSDT{
    color: yellow;
}

.minmaxwith_with_calKohuobiUSDT{
    color: #00e5ff;
}
.pluswith_with_calKohuobiUSDT{
    color: red;
}
.goldwith_with_calKohuobiUSDT{
    color: yellow;
}

.minmaxwith_with_calKokucoinUSDT{
    color: #00e5ff;
}
.pluswith_with_calKokucoinUSDT{
    color: red;
}
.goldwith_with_calKokucoinUSDT{
    color: yellow;
}

.minmaxwith_with_calKobinanceBUSD{
    color: #00e5ff;
}
.pluswith_with_calKobinanceBUSD{
    color: red;
}
.goldwith_with_calKobinanceBUSD{
    color: yellow;
}



.BTCplus-per{
    
    color: #00e5ff;
}
.BTCminus-per{
    
    color: red;
}

.USDTplus-per{
    
    color: #00e5ff;
}
.USDTminus-per{
    
    color: red;
}
.BINplus-per{
    
    color: #00e5ff;
}
.BINminus-per{
    
    color: red;
}

.BINBUSDTplus-per{
    
    color: #00e5ff;
}
.BINBUSDTminus-per{
    
    color: red;
}
.BITHUMBKRWplus-per{
    
    color: #00e5ff;
}
.BITHUMBKRWminus-per{
    
    color: red;
}