.coin-container {
    display:flex;
    justify-content: start;
}

.coin-row{
 display: flex;
 flex-direction: row;
 justify-content: start;
 align-items: center;
 height: 120px;
 border-bottom: 1px solid #d7d7d7;
 width:  1300px;
 padding-right: 100px;
}

.coin{
    display: flex;
    align-items: center;
    
    width: 120px;
}
.coin h1{
    font-size: 16px;
    width: 80px;
}
.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.exchange-img{

    height: 30px;
    width: 30px;
    margin-right: 3px;
    
}

.coin-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.coin-price{
    width: 80px;
    
}

.coin-pair-one{
    border-bottom: 5px solid #0c0a08;
}
.coin-pair-two{
    border-bottom: 5px solid #C8E3D4;
}
.coin-pair-three{
    border-bottom: 5px solid #664E88;
}

.plus-per{
    
    color: #00e5ff;
}
.minus-per{
    
    color: red;
}

.BTCplus-per{
    
    color: #00e5ff;
}
.BTCminus-per{
    
    color: red;
}

.USDTplus-per{
    
    color: #00e5ff;
}
.USDTminus-per{
    
    color: red;
}
.BINplus-per{
    
    color: #00e5ff;
}
.BINminus-per{
    
    color: red;
}

.BINBUSDTplus-per{
    
    color: #00e5ff;
}
.BINBUSDTminus-per{
    
    color: red;
}
.BITHUMBKRWplus-per{
    
    color: #00e5ff;
}
.BITHUMBKRWminus-per{
    
    color: red;
}